<%- include('../includes/head.ejs') %>
<body>
	<%- include('../includes/navigation.ejs') %> <% if(user.isManager && staffs) {
	%>
	<div class="container">
		<h3>
			Hi, <%= user.name%>, total number of employees you manage: <%=
			staffs.length %>
		</h3>

		<h4>And Covid-19 information of all employees you are managing:</h4>
		<div class="row" style="margin: 20px 0 20px 0">
			<form action="/manager/attendance" method="GET" class="col-9 col-lg-6">
				<div class="row">
					<div class="col col-lg-5">
						<select class="form-select" name="month">
							<option value="all">All month</option>
							<option value="01">January</option>
							<option value="02">February</option>
							<option value="03">March</option>
							<option value="04">April</option>
							<option value="05">May</option>
							<option value="06">June</option>
							<option value="07">July</option>
							<option value="08">August</option>
							<option value="09">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
					</div>
					<div class="col col-lg-5">
						<select class="form-select" name="year">
							<option selected value="<%= new Date().getFullYear() %>">
								<%= new Date().getFullYear() %>
							</option>
							<option value="<%= new Date().getFullYear()-1 %>">
								<%= new Date().getFullYear()-1 %>
							</option>
							<option value="<%= new Date().getFullYear()-2 %>">
								<%= new Date().getFullYear()-2 %>
							</option>
						</select>
					</div>
					<div class="col col-lg-2">
						<button type="submit" class="btn btn-success">Search</button>
					</div>
				</div>
			</form>
			<form action="/manager/attendance" method="GET" class="col-3">
				<button type="submit" class="btn btn-secondary">Reset</button>
			</form>
		</div>
		<div class="container">
			<div class="row">
				<% staffs.forEach((staff)=> {%>
				<div class="row button-design btn-primary">
					<a
						class="btn btn-primary col-8 center"
						data-bs-toggle="collapse"
						href="#a<%= staff[0].userId %>"
						role="button"
						aria-expanded="false"
					>
						<%= staff[0].name %> - <%= staff[0].userId %>
					</a>
					<form
						action="/manager/attendance/lock-user"
						method="POST"
						class="col-4 center"
					>
						<input
							type="hidden"
							name="staffId"
							value="<%= staff[0].userId %>"
						/>
						<button
							type="submit"
							class="<%= req.session[staff[0].userId] === true ? 'btn btn-danger' : 'btn btn-success' %>"
						>
							<%= req.session[staff[0].userId] === false ? 'LOCK' : 'UNLOCK' %>
						</button>
					</form>
				</div>

				<div class="collapse" id="a<%= staff[0].userId%>">
					<div class="row">
						<% if (staff[0].date) { staff.forEach((item) => { if
						(item.timeKeeping[0].startTime && item.timeKeeping[0].endTime) { %>
						<div class="col-3" style="min-width: 270px">
							<div class="card customer-card">
								<p style="color: red">
									<b>Date: <%= item.date.toLocaleDateString('en-GB') %></b>
								</p>
								<p>
									Start working: <%=
									item.timeKeeping[0].startTime.toLocaleTimeString() %>
								</p>
								<p>
									End working: <%= item.timeKeeping[item.timeKeeping.length -
									1].endTime ? item.timeKeeping[item.timeKeeping.length -
									1].endTime.toLocaleTimeString() :
									item.timeKeeping[item.timeKeeping.length - 2].endTime ?
									item.timeKeeping[item.timeKeeping.length -
									2].endTime.toLocaleTimeString() : null %>
								</p>
								<p>
									Total working time: <%= item.totalWorkHours ?
									item.totalWorkHours : '0' %> hrs
								</p>
								<p>Over time: <%= item.overTime ? item.overTime : '0' %> hrs</p>
								<% if (item.timeKeeping[item.timeKeeping.length - 1].endTime) {
								%>
								<form
									action="/manager/attendance/delete"
									method="post"
									class="center"
								>
									<input
										type="hidden"
										name="id_attendance"
										value="<%=item._id %>"
									/>
									<button type="submit" class="btn btn-danger">Delete</button>
								</form>
								<% } %>
							</div>
						</div>
						<% }})} else {%>
						<div class="container customer-card center">
							<div style="color: red">
								<b>NO INFORMATION</b>
							</div>
						</div>
						<% } %>
					</div>
				</div>
				<% }) %>
			</div>
		</div>
	</div>
	<% } else { %>
	<h3>
		Only managers can just access information, please log in as a manager
		account
	</h3>
	<% } %>
</body>
<%- include('../includes/end.ejs') %>
