<%- include('../includes/head.ejs') %>
<body>
	<%- include('../includes/navigation.ejs') %>
	<div class="container">
		<h5 class="inline-block">
			Hi, here is infomation about your work time. If any question, please
			contact your manager
			<i style="color: red"
				><%= manager ? manager.name + ' - ID: ' + manager._id : '' %></i
			>
		</h5>
		<hr />
		<div class="row">
			<div class="col-lg-7 parent center">
				<form action="/work-time/find-attendance" method="GET" class="center">
					<div class="row">
						<div class="col-8">
							<h5>Your attendance, please select dates to display</h5>
						</div>
						<div class="col-4" id="select-attendance">
							<button
								type="button"
								class="btn btn-primary"
								onclick="handleSelect2()"
							>
								Select dates
							</button>
						</div>
						<div
							class="col-3 display-none"
							id="calendar"
							style="min-width: 200px"
						>
							<input type="text" name="calendar" />
						</div>
						<div class="col-1 display-none" id="find-attendance">
							<button type="submit" class="btn btn-primary">Find</button>
						</div>
					</div>
				</form>
				<div class="row">
					<% if (attendances[0]) { attendances.forEach((item) => { if
					(item.timeKeeping[0].startTime && item.timeKeeping[0].endTime) { %>
					<div class="col" style="min-width: 270px">
						<div class="card customer-card">
							<p style="color: red">
								<b>Date: <%= item.date.toLocaleDateString('en-GB') %></b>
							</p>
							<p>
								Start working: <%=
								item.timeKeeping[0].startTime.toLocaleTimeString() %>
							</p>
							<p>
								End working: <%= item.timeKeeping[item.timeKeeping.length -
								1].endTime ? item.timeKeeping[item.timeKeeping.length -
								1].endTime.toLocaleTimeString() :
								item.timeKeeping[item.timeKeeping.length - 2].endTime ?
								item.timeKeeping[item.timeKeeping.length -
								2].endTime.toLocaleTimeString() : null %>
							</p>
							<p>
								Total working time: <%= item.totalWorkHours ?
								item.totalWorkHours : '0' %> hrs
							</p>
							<p>Over time: <%= item.overTime ? item.overTime : '0' %> hrs</p>
						</div>
					</div>
					<% }})} else {%>
					<div class="container customer-card center">
						<div style="color: red">
							<b>NO INFORMATION</b>
						</div>
					</div>
					<% } %> <%- include('../includes/pagination.ejs') %>
				</div>
			</div>

			<div class="col-lg-5">
				<div style="min-width: 250px">
					<h4 class="center">Information about your Salary</h4>
					<hr />
					<form action="/work-time/salary" method="GET" class="center">
						<button type="submit" class="btn btn-primary">
							Find all month
						</button>
					</form>
					<p>
						<b>Select month of year according to you want to display</b>
					</p>
					<p>
						<i
							>Salary = salaryScale*3000000 + (total OverTime -(total monthly
							work time - (total work time + total on leave)))*200000</i
						>
					</p>

					<form action="/work-time/find-salary" method="GET">
						<div class="row">
							<div class="col-5">
								<select class="form-select" name="month">
									<option value="01">January</option>
									<option value="02">February</option>
									<option value="03">March</option>
									<option value="04">April</option>
									<option value="05">May</option>
									<option value="06">June</option>
									<option value="07">July</option>
									<option value="08">August</option>
									<option value="09">September</option>
									<option value="10">October</option>
									<option value="11">November</option>
									<option value="12">December</option>
								</select>
							</div>
							<div class="col-5">
								<select class="form-select" name="year">
									<option selected value="<%= new Date().getFullYear() %>">
										<%= new Date().getFullYear() %>
									</option>
									<option value="<%= new Date().getFullYear()-1 %>">
										<%= new Date().getFullYear()-1 %>
									</option>
									<option value="<%= new Date().getFullYear()-2 %>">
										<%= new Date().getFullYear()-2 %>
									</option>
								</select>
							</div>
							<div class="col-1">
								<button type="submit" class="btn btn-primary">Search</button>
							</div>
						</div>
					</form>
				</div>
				<div class="container center">
					<% if (salary[0]){ salary.forEach(item => { %>
					<div class="col-6">
						<div class="card customer-card">
							<p style="color: red">
								<b>Month: <%= +item.month + 1 %></b>
							</p>
							<p>Total work time: <%= item.totalWorkHours %> hrs</p>
							<p>Total on leave: <%= item.totalOnLeave %> hrs</p>
							<p>Total over time: <%= item.totalOverTime %> hrs</p>
							<p>Total monthly work time: <%= item.monthlyWorkHours %> hrs</p>
							<p>Salary: <%= item.salary %> VND</p>
						</div>
					</div>
					<% }) } else { %>
					<div class="card customer-card center">
						<div style="color: red">
							<b>NO INFORMATION</b>
						</div>
					</div>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</body>
<%- include('../includes/end.ejs') %>
