<%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/navigation.ejs') %>
        <div class="container center">
        <% if (user) { %>
            <% if (user.isManager) { %>
            <form action="/manager/covid" method="GET" class="center">
                <button type="submit" class="btn btn-warning">Information of your staffs</button> 
            </form>
            <% } %>
            <h5 class="center">Please register information below! </h5>
            <hr>
            <div class="row">
                <div class="col-12 col-lg" style="min-width:150px">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#bodyTemperature"  style="min-height: 62px;margin: 5px">Register for Body temperature </button>
                </div>
                <div class="col-12 col-lg">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#vaccineInfo" style="min-height: 62px; min-width:240px; margin: 5px" >Register for Vaccination </button>
                </div>
                <div class="col-12 col-lg">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#covidInfaction"value="covidInfaction" style="min-height: 62px;margin: 5px">Register for Covid-19 infection</button>
                </div>
            </div>
            <hr>
            <div class="center">
                <button type="button" class="btn btn-success" onclick="handleShow()" id="button-show">Show extra</button>
            </div>
            
            <div class="container center display-none" id="infomation-covid">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <% if (bodyTemperature.length >0) {%>
                            <div class="card success">
                                <h5><b>BODY TEMPERATURE</b></h5>
                                <div class="card-body scroll" style="text-align:center">
                                    <% bodyTemperature.forEach(item => {  %>
                                        <div class=" inline-block " >
                                            <div class="card <%= Number(item.temperature) > 37.5 ? 'red': '' %>">
                                                <div class="card-body">
                                                    <p>Temperature: <b><%= item.temperature %> °C</b></p>
                                                    <p>Date: <b><%= item.date !== null ? item.date.toLocaleDateString('en-GB') : null %></b></p>
                                                    <p>Time: <b><%= item.time %></b></p>
                                                </div>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>
                        <% } else { %>
                            <div class="card success">
                                <h5><b>BODY TEMPERATURE</b></h5>
                                <div class="card-body" style="text-align:center">
                                    <div>NO INFORMATION</div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    

                    <div class="col-12 col-lg-4">
                        <% if (vaccineInfo.firstDoseDate) { %>
                                <div class="card <%= vaccineInfo.secondDoseName ? 'success' : 'orange' %>">
                                    <h5><b>DOSE 1</b></h5>
                                    <div class="card-body">
                                        <p>Vaccine name: <b><%= vaccineInfo.firstDoseName %></b></p>
                                        <p>Date: <b><%= vaccineInfo.firstDoseDate.toLocaleDateString('en-GB') %></b></p>
                                        <p>Vaccination facility: <b><%=vaccineInfo.firstDosePlace %></b></p>
                                    </div>
                                    <hr>
                                    <% if(vaccineInfo.secondDoseName) { %>
                                        <h5><b>DOSE 2</b></h5>
                                        <div class="card-body">
                                            <p>Vaccine name: <b><%=vaccineInfo.secondDoseName %></b></p>
                                            <p>Date: <b><%= vaccineInfo.secondDoseDate.toLocaleDateString('en-GB') %></b></p>
                                            <p>Vaccination facility: <b><%=vaccineInfo.secondDosePlace %></b></p>
                                        </div>
                                    <% } else { %> 
                                        <h5><b>DOSE 2</b></h5>
                                        <p>NO INFORMATION</p>
                                    <% } %>
                                </div>
                        <% } else { %> 
                            <div class="card primary">
                                <h5><b>DOSE</b></h5>
                                <div class="card-body" style="text-align:center">
                                    <div>NO INFORMATION</div>
                                </div>
                            </div>
                        <% } %>                  
                    </div>

                    <div class="col col-lg-4">
                        <% if (negativeCovid === true) { %>
                            <div class="card success">
                                <h5><b>NEGATIVE (-)</b></h5>
                                <div class="card-body center">
                                    <div>Strictly implement 5K and vaccinate to prevent Covid</div>
                                    <% if (covidInfection.negativeDate) { %>
                                    <b>You have tested negative for Covid-19 from <%= covidInfection.negativeDate.toLocaleDateString('en-GB') %> </b>
                                    <% } %>
                                </div>
                            </div>
                        <% } else if (covidInfection.date) { %>
                            <div class="card danger col col-lg-4">
                                <h5><b>POSITIVE (+)</b></h5>
                                <div class="card-body">
                                    <p>Test method: <b><%= covidInfection.testMethod %></b></p>
                                    <p>Infection date: <b><%= covidInfection.date !== null ? covidInfection.date.toLocaleDateString('en-GB') : null %></b></p>
                                    <p>Symptoms: <b><%= covidInfection.symptoms %></b></p>
                                    <form action="/covid/negative" method="GET" style="text-align:center">
                                        <button type="submit" class="btn btn-success"><i class="fa-solid fa-circle-minus"></i> Negative </button>
                                    </form>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
                
            
            <div class="modal fade" id="bodyTemperature" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form action="/covid/body-temperature" method="POST">
                        <div class="modal-content">
                            <div class="modal-header btn-success">
                                <h5 class="modal-title" id="exampleModalLabel">Register for body temperature information</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-justify">
                            <div class="mb-3">
                                <label for="body-temperature" class="col-form-label">Body temperature</label>
                                <input type="number" class="form-control" id="body-temperature" placeholder="°C" name="temperature" required>
                            </div>
                                <div class="mb-3">
                                    <label for="date" class="col-form-label">Date Register</label>
                                    <input type="date" class="form-control" id="date" name="date" required>
                                </div>
                                <div class="mb-3">
                                    <label for="time" class="col-form-label">Time Register</label>
                                    <input type="time" class="form-control" id="time" name="time">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal fade" id="vaccineInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form action="/covid/vaccine" method="POST">
                        <div class="modal-content ">
                            <div class="modal-header btn-primary">
                                <h5 class="modal-title" id="exampleModalLabel">Register vaccination information</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-justify">
                                <div class="mb-3">
                                    <h3>Dose 1</h3>
                                    <input type="text" class="form-control" placeholder="Name of vaccine" name="firstDoseName" required>
                                    <input type="date" class="form-control" name="firstDoseDate" required>
                                    <input type="text" class="form-control" placeholder="Vacination facility" name="firstDosePlace">
                                </div>
                                <hr>
                                <div class="mb-3">
                                    <h3>Dose 2</h3>
                                    <input type="text" class="form-control" placeholder="Name of vaccine" name="secondDoseName">
                                    <input type="date" class="form-control"  name="secondDoseDate">
                                    <input type="text" class="form-control" placeholder="Vacination facility" name="secondDosePlace">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        
            <div class="modal fade" id="covidInfaction" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form action="/covid/covid19-infection" method="POST">
                        <div class="modal-content">
                            <div class="modal-header btn-warning">
                                <h5 class="modal-title" id="exampleModalLabel">Register for Covid-19 infection</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-justify">
                                <div class="mb-3">
                                    <label for="test-method" class="col-form-label">Test method</label>
                                    <select id="test-method" name="testMethod">
                                        <option value="Antigen rapid test">Antigen rapid test</option>
                                        <option value="RT-PCR test">RT-PCR test</option>
                                        <option value="Antibody rapid test">Antibody rapid test</option>
                                        <option value="Pooled sample test">Pooled sample test</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="date" class="col-form-label" >Date</label>
                                    <input type="date" class="form-control" id="date" name="date" required>
                                </div>
                                <div class="mb-3">
                                    <label for="symptoms" class="col-form-label">Symptoms</label>
                                    <textarea class="form-control" id="symptoms" name="symptoms"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
                        <% }  %>
                        </div>
        
        
    </body>
    <%- include('../includes/end.ejs') %>