<%- include('../includes/head.ejs') %>

<body>
	<%- include('../includes/navigation.ejs') %>
	<div class=".container small">
		<% if (errorMessage) { %>
		<div class="error"><%= errorMessage %></div>
		<% } %>
		<form action="/auth/login" method="POST">
			<div class="mb-3">
				<label for="email" class="form-label">Email address</label>
				<input
					class="form-control"
					id="email"
					aria-describedby="emailHelp"
					name="email"
					value="<%= oldInput.email %>"
				/>
				<div id="emailHelp" class="form-text">
					We'll never share your email with anyone else.
				</div>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input
					type="password"
					class="form-control"
					id="password"
					name="password"
					value="<%= oldInput.password %>"
				/>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</body>
<%- include('../includes/end.ejs') %>
